/* General page styles */
body { 
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  max-width: 900px; 
  margin: auto; 
  padding: 20px; 
}
code {
  background-color: #f1f1f1;
  padding: 2px;            /* Adds space around the code */
  border-radius: 2px;      /* Rounds the corners */
}
h1 { 
  border-bottom: 2px solid #ccc; 
  padding-bottom: 5px; 
  margin-top: 40px; 
}

h2 { 
  margin-top: 30px; 
  border-bottom: 2px solid #ccc; 
}

p {
  text-align: justify;
  text-justify: auto;  
}

.image-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
}

/* Images */
img { 
  max-width: 100%; 
  height: auto; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Tables */
table { 
  width: 100%; 
  height: 100%;
  text-align: center; 
  margin: 20px 0; 
  border-collapse: collapse; 
}

th, td { 
  padding: 10px; 
}

/* Table of contents */
#toc { 
  background: #f9f9f9; 
  border: 1px solid #ddd; 
  padding: 15px; 
  border-radius: 8px; 
}

#toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#toc > ul > li {
  margin: 0.4rem 0;
}

#toc ul ul {
  margin-left: 1.2rem; /* indent h3s */
  border-left: 2px solid #eee;
  padding-left: 0.8rem;
}

#toc-list .level-h1 { margin-left: 0; }
#toc-list .level-h1 a {
  font-weight: bold;
}
#toc-list .level-h2 { margin-left: 2em; }
#toc-list .level-h3 { margin-left: 4em; }